Input:
    - a list of classes
    - a list of subjects: we assume there is 1:1 between subject and teacher, so we don't need teacher as Input
        - name
        - [UNUSED] type: mandatory or elective
        - number of slots per day: the number of time slots per day (we will assume every day has the same amount of time slots)
        - Number of times a certain subject can occur in a week.
    - a list of rooms: we assume same size for all rooms
    - fixed input (not user configurable):
        5 days a week
    - Assumed:
        - No. room is always going to be smaller equal then to the number of subjects.

Output:
    - [UNUSED] for each student, a 5 day schedule
    - A student class schedule. One schedule for each given class.
    - overall requirements:
        - a class could only be in one room for a given slot
    - requirements for a given student schedule:
        - for a given subject , there could only be slot in the day
        - for each subject, the number of slot per week must = the property of th subject 